
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style type="text/css">
		  * {
			box-sizing: border-box;
		  }
		  
		  .btnFechar {
			  position: absolute;
			  right: 0;
			  top: 0;
			  padding: 12px 16px 12px 16px;
		  }
		  
		ul li {
			  cursor: pointer;
			  position: relative;
			  padding: 12px;
			  font-size: 18px;
			  width: 70%;
		  }
		  
		  ul li.checked {
			  background: #00ba3e;
			  text-decoration: line-through;
		  }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h2>To Do List</h2>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-offset-3 col-md-6">
				<input class="form-control input-lg" id="txtTarefa"  type="text" placeholder="Insira uma tarefa...">
			  </div>
			  <div class="col-md-3">
				<span onclick="novaTarefa()" class="btn btn-primary btn-lg btnTarefa">Adicionar</span>
			  </div>
			</div>
			<div class="row">
				<ul class="col-md-offset-4 col-md-6 list-group" id="lista">
				</ul>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">

   // Esconde elemento da lista quando clica no 'x'
  var btnFechar = document.getElementsByClassName("btnFechar");
  var i;
  for (i = 0; i < btnFechar.length; i++) {
    btnFechar[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
  // Marcar elemento quando clicado
  var list = document.querySelector('ul');
  list.addEventListener('click', function(ev) {
    if (ev.target.tagName === 'LI') {
      ev.target.classList.toggle('checked');
    }
  }, false);
  
  // Adicina tarefa na lsita
  function novaTarefa() {
    var tarefa = $("#txtTarefa").val();
    if (tarefa === '') {
      alert("Esta vazio");
    } else {
		var t = document.createTextNode(tarefa);
		var li = document.createElement("li");
		li.appendChild(t);
		$("#lista").append(li);
    }
    $("#txtTarefa").val("");
	
    var span = document.createElement("SPAN");
    var txt = document.createTextNode("x");
    span.className = "btnFechar";
    span.appendChild(txt);
    li.appendChild(span);
	li.className = "list-group-item";
    for (i = 0; i < btnFechar.length; i++) {
      btnFechar[i].onclick = function() {
        var div = this.parentElement;
        div.style.display = "none";
      }
    }
  }
</script>